API_KEY = "Insert your API Key Here"

# 10 Website Pendidikan
EDUCATION_SITES = [
    "https://www.coursera.org",
    "https://www.udemy.com",
    "https://www.khanacademy.org",
    "https://www.edx.org",
    "https://www.skillshare.com",
    "https://www.udacity.com",
    "https://www.duolingo.com",
    "https://www.codecademy.com",
    "https://www.brilliant.org",
    "https://www.futurelearn.com"
]

# 10 Website E-Commerce
ECOMMERCE_SITES = [
    "https://www.amazon.com",
    "https://www.ebay.com",
    "https://www.tokopedia.com",
    "https://www.shopee.co.id",
    "https://www.bukalapak.com",
    "https://www.lazada.co.id",
    "https://www.alibaba.com",
    "https://www.blibli.com",
    "https://www.zalora.co.id",
    "https://www.aliexpress.com/"
]

# Website Berbahya
DANGEROUS_SITES = [
    "http://testsafebrowsing.appspot.com/s/malware.html",
    "http://testsafebrowsing.appspot.com/s/phishing.html",
    "http://testsafebrowsing.appspot.com/s/unwanted.html",
    "http://testsafebrowsing.appspot.com/apiv4/ANY_PLATFORM/MALWARE/URL/",
    "http://testsafebrowsing.appspot.com/apiv4/ANY_PLATFORM/SOCIAL_ENGINEERING/URL/",
    "http://testsafebrowsing.appspot.com/apiv4/ANY_PLATFORM/UNWANTED_SOFTWARE/URL/",
    "http://testsafebrowsing.appspot.com/apiv4/WINDOWS/POTENTIALLY_HARMFUL_APPLICATION/URL/"
]